
<div id="rogin-wall">
  <div class="title">
    <%= link_to image_tag("rogo_color.png", class:"rogin-rogo", url: root_path) %>
    <div class="slogan">もっとアートを身近に。</div>
    <div class="slogan">あなたとアートをもっと近づける</div>
    <div class="slogan">ARTに特化したSNS。</div>
  </div>
  <div class="flame">
    <div class="spotlite"></div>
      <%= link_to image_tag("art_gaku.png", class:"rogin-gaku") %>
    <div class="rogin-form">
      <div class="rogin_list">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder:"メールアドレス" ,id:"email"%>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "current-password" ,placeholder:"パスワード",id:"rogin-pass"%>
          </div>

          <% if devise_mapping.rememberable? %>
            
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン" ,id:"rogin-sub"%>
          </div>
          <div class="forgot-text">
            <%= link_to 'パスワードを忘れた', "#" ,id:"forgot"%>
          </div>
          <div class="registration-btn">
            <%= link_to '新規登録', "#" ,id:"registration-font" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</canvas>
</div>

